:root {
    --input-height: 32px;
    --border-radius: 5px;
    --font-size: .9em;

    --color-tags: #999;
    --border-color-tags: #eee;
}

body {
    padding: 1em;
}

.url {
    display: flex;
}

.url input {
    margin-right: 1em;
    height: var(--input-height);
}

.examples {
    padding: 1em 0;
}

.examples span {
    font-size: var(--font-size);
    padding: .5em;
    border: 1px solid var(--border-color-tags);
    border-radius: var(--border-radius);
    color: var(--color-tags);
    cursor: pointer;
}

.examples span:hover {
    filter: brightness(0.6);
}

.result {
    display: flex;
    flex-direction: column;
}

.result > * {
    margin-bottom: .5em;
}

.result .text-data {
    font-size: var(--font-size);
    padding: .5em;
    border: 1px solid #CCC;
    border-radius: var(--border-radius);
    color: #666;
}

.result .image-data img {
    width: 100%;
}