:root {
    --input-height: 32px;
    --border-radius: 5px;

    --color-tags: #999;
    --border-color-tags: #eee;
    --font-size-tags: .9em;
}

body {
    padding: 1em;
}

.url {
    display: flex;
}

.url input {
    margin-right: 1em;
    height: var(--input-height);
}

.examples {
    padding: 1em 0;
}

.examples span {
    font-size: var(--font-size-tags);
    padding: .5em;
    border: 1px solid var(--border-color-tags);
    border-radius: var(--border-radius);
    color: var(--color-tags);
    cursor: pointer;
}

.examples span:hover {
    filter: brightness(0.6);
}

table {
    color:#333;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
}

tr:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
}

td {
    padding: .75rem;
    font-size: .80rem;
    border-top: 1px solid #dee2e6;
}

td:hover, td:focus {
    color: #000;
    cursor: pointer;
}